# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore build directory and other generated directories
dist/
build/

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm package lock file if you prefer not to include it (optional)
package-lock.json

# Ignore coverage directory for test coverage reports
coverage/

# Ignore .next directory for Next.js projects
.next/

# Ignore temporary files
*.tmp
*.swp
