<% layout("/layouts/boilerplate") %>
<div class="row">
       <div class="col-8 offset-2">
          <br>
        <h2>Creating the listing</h2>
    
       <form action="/listings" method="POST">

    
             
              <div class="mb-3">
               <label for="title" class="form-label">Title</label>
              <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control">
              
              </div>


              <div class="mb-3">
                     <label for="description" class="form-label">Description</label>
              <textarea name="listing[description]"  class="form-control"></textarea>
              </div>

              <div class="mb-3">
                     <label for="image" class="form-label">Image Link</label>
              <input name="listing[image]" placeholder="enter image url/link" class="form-control">
               </div>

               <div class="row">
               <div class="mb-3 col-md-4">
                     <label for="price" class="form-label">Price</label>
              <input type="number" name="listing[price]" placeholder="12000" class="form-control">
              </div>   
              

              <div class="mb-3 col-md-8">
                     <label for="country" class="form-label">Country</label>
               <input type="text" name="listing[country]" placeholder="USA" class="form-control">
              </div>
       </div>

              <div class="mb-3">
                     <label for="location" class="form-label">Location</label>
              <input type="text" name="listing[location]" placeholder="Las Vegas" class="form-control">
              </div>


              <button type="submit" class="btn btn-dark add-btn">Add</button>

                <br><br>
       </form>
</div>
</div>